<link rel="stylesheet" href="/css/collection.css">
<div class="">

<form id="main-search" action="/searchCollection" class="search-collection" autocomplete="off">
	<input type="search" name="term" placeholder="search for something..."/>
</form>
<ul id="main-list" class="list-unstyled">
	{{#each summaries}}
	<li class="collection">
		<h2>{{@key}}<a href="/subscription/{{@key}}/1.html">more</a></h2>
		<ul>
			{{#each this}}
			<li>
				<a href="/subscription/{{@../key}}/item/{{this.index}}.html"><b>{{index}}</b> | {{this.title}}</a>
			</li>
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>

</div>
